@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  /* background-image: url('img/fondo.png');background-repeat: no-repeat;
    background-size: cover; */
  width: 100%;
  font-family: "Advent Pro", sans-serif;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: black;
}

/************ NAVBAR  ****************/

nav {
  overflow: hidden;
  background-color: #fffae1;
  position: fixed;
  width: 100%;
  opacity: 0.9;
  font-size: 1.6rem;
}
header li {
  float: right;
  font-size: 2.5rem;
}
header li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 16px;
  /* padding: 20px 18px 0 20px; */
}
#logo1 img {
  width: 80px;
  height: 80px;
  margin-left: -770px;
  float: left;
  border-radius: 15%;
}
#logo {
  font-family: "Dancing Script", cursive;
  margin-left: 70px;
  font-size: 2rem;
  font-weight: bold;
  float: left;
}
/* ****************** reservar **************** */
.reservas_form_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("img/SALON/2.jpg");
  background-position: center;
  padding-top: 100px;
}
/* .logo {
        border-radius: 25px;
    }
    */
#reservas_form {
  display: inline-flex;
  padding: 0 15px;
  background-color: transparent;
  text-align: center;
  justify-content: space-around;
  color: #4d5656;
}
#hotel_select {
  display: inline !important;
}
#rooms {
  display: inline !important;
}
#ch {
  display: inline !important;
}

.inputs {
  height: 50px;
  width: 100%;
  background-color: #e5e4e2;
  border-radius: 15px;
  border: none;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: Georgia, Times, serif;
  padding: 10px;
  margin: 0 15px 15px 15px;
}

.boton_reserva {
  font-size: 25px;
  height: 50px;
  width: 100%;
  color: #4d5656;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #e5e4e2;
  border: none;
  margin: 0 15px 15px 15px;
  padding-top: 5px;
}

.reservation {
  font-size: 1.5rem;
  font-family: "Advent Pro", sans-serif;
  /* color: #4D5656; */
  color: blue;
  text-align: center;
}
/* .reservation :hover {
        color: red;
        transform: scale(1.2) red;
    } */
.reservation:hover {
  color: red;
  font-family: "Advent Pro", sans-serif;
  font-size: 1.8rem;
  transition: 0.2s ease-in-out;
}

/* @media(max-width: 580px){               
    #reservas_form{
            text-align: center;
    }
    .inputs{
        width: 32%!important;
        display: inline-block!important;
        vertical-align: top;
    }
    .boton_reserva{
        width: 32%!important;
        display: block;
        margin: 0 auto;
    }
    }                */

/* @media(min-width: 980px){
        #reservas_form{
            margin: 0 auto;	
            max-width: 970px;
            padding: 30px 20px 10px 20px;
            border-radius: 5px;
        }
        .inputs, .boton_reserva{
        width: 18%!important;
        }
        .boton_reserva {
        display: inline-block;
        vertical-align: top;
        }
    } */

/* *********** IMAGE PRINCIPALE ********* */
/* #prestations {
        padding-top: 0;
    } */

#imagePrincipale {
  padding-top: -10px;
  background: url(img/presentation-2.jpg) no-repeat fixed 100% 100%;
  background-size: cover;
  height: 600px;
}
h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  color: antiquewhite;
  font-size: 8rem;
  margin-top: 1px;
  padding-top: 75px;
  text-shadow: 1px 3px 2px black;
}
#premierTrait {
  height: 1px;
  width: 15%;
  margin: -3px auto;
  background-color: #fffae1;
  box-shadow: 1px 3px 2px black;
}
h3 {
  text-align: center;
  color: antiquewhite;
  font-size: 3.3rem;
  text-shadow: 1px 3px 2px black;
}
/* ********** PRESENTATION *********** */

#presentation {
  background-color: #fffae1;
  padding: 10px 0px 100px 0;
}
#texteIntro {
  padding: 0px 15%;
  font-size: 1.5rem;
}
#prestations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 10%;
}
.imagesPrestations h4 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 2rem;
  margin: 15px;
  font-weight: 300;
}
.imagesPrestations img {
  border-radius: 10px;
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.7);
}
.imagesPrestations img:hover {
  opacity: 0.8;
  transform: scale(1.25);
  transition: 0.6s ease-in-out;
}
/* *********** TOURISME ********* */

#tourisme {
  display: block;
  text-align: center;
  height: 1400px;
  background-color: #f1f2f6;
  padding: 1px 7%;
}
#tourisme h2 {
  padding-top: 20px;
}
#fesElbali {
  background: url(img/fes-elbali.png);
}
#Ifrane {
  background: url(img/ifrane.png);
}
#Alqaraouin {
  background: url(img/alqarawiyin.png);
}
#fesMedina {
  background: url(img/fes-centre.png);
}
#tourisme li {
  display: block;
  margin: 55px 150px 0 150px;
  background-position: center;
  height: 250px;
  width: 30%;
  max-width: 550px;
  float: left;
  box-shadow: 6px 6px 28px -1px rgba(0, 0, 0, 0.75);
}
#tourisme p {
  height: 45px;
  width: 235px;
  background-color: #01df74;
  float: right;
  margin: 70px -200px 0 0;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 15px;
  box-shadow: 4px 4px 0 1px rgba(90, 161, 43, 1);
}
#tourisme #Ifrane,
#tourisme #fesMedina {
  float: right;
}

#Ifrane p,
#fesMedina p {
  float: left;
  background-color: cyan;
  margin-left: -200px;
  box-shadow: -4px 4px 0 1px rgba(15, 154, 156, 1);
}
/* ******** FOOTER ******** */
footer {
  background-color: #524a3a;
  /* background-image: url('img/fes-centre.png') ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
  /* color: #FFFAE1; */
  padding: 20px 0 10px 0;
  text-align: left;
  /* height: 670px; */
}
footer h2 {
  color: #fffae1;
  font-size: 2.2rem;
}

/***formulario inventado *************/

/**{
          margin: 0;
          padding: 0;
          box-sizing:border-box;
      } */

/* :focus{
          outline: none;
      }
      
      body{
          background: #DBDBDB;
          font-family: 'Open sans';
      } */

/* FORMULARIO =================================== */

.form_wrap {
  width: 1050px;
  height: 530px;
  margin: 50px auto;
  display: flex;

  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background: #4091ec;
  opacity: 0.9;
}

.cantact_info {
  width: 38%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("img/SALON/12.jpg");
  background-size: cover;
  background-position: center center;
}

.info_title,
.info_items {
  position: relative;
  z-index: 2;
  color: #fff;
}

.info_title {
  margin-bottom: 60px;
}

.info_title span {
  font-size: 100px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.info_title h2 {
  font-size: 35px;
  text-align: center;
}

.info_items p {
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.info_items p:nth-child(1) span {
  font-size: 30px;
  margin-right: 10px;
}

.info_items p:nth-child(2) span {
  font-size: 50px;
  margin-right: 15px;
  margin-left: 4px;
}

/* Formulario de contacto*/
form.form_contact {
  width: 62%;
  padding: 30px 40px;
}

form.form_contact h2 {
  font-size: 25px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 30px;
}

form.form_contact .user_info {
  display: flex;
  flex-direction: column;
}

form.form_contact label {
  font-weight: 600;
}

form.form_contact input,
form.form_contact textarea {
  width: 100%;
  padding: 8px 0px 5px;
  margin-bottom: 20px;

  border: none;
  border-bottom: 2px solid #d1d1d1;

  font-family: "Open sans";
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 400;
}

form.form_contact textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
}

form.form_contact input[type="button"] {
  width: 180px;
  background: #4091ec;
  padding: 10px;
  border: none;
  border-radius: 25px;

  align-self: flex-end;

  color: #fff;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form.form_contact input[type="button"]:hover {
  background: #3371b6;
}

/* Ventana de errores*/
.modal_wrap {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mensaje_modal {
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  width: 400px;
  padding: 30px 20px 15px;
}

.mensaje_modal h3 {
  text-align: center;
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: 400;
}

.mensaje_modal h3:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #c5c5c5;
  margin: 10px 0px 15px;
}

.mensaje_modal p {
  font-size: 16px;
  color: #606060;
}

.mensaje_modal p:before {
  content: "\f00d";
  font-family: FontAwesome;
  display: inline-block;
  color: black;
  margin-right: 8px;
}

#btnClose {
  display: block;
  padding: 3px 10px;
  margin-top: 10px;

  background: #e25151;
  color: #fff;
  border: 2px solid #b14141;
  cursor: pointer;

  float: right;
}

/***************FORMULARIO ORIGINAL********************/
/* form {
        margin: 0 auto;
        max-width: 900px;
        text-align: center;
    }
    
    #nom_prenom {
        font-size: 1.15rem;
        margin-left: -260px;
        
    }
    #adresse_email {
        font-size: 1.15rem;
        margin-left: -335px;
        
    }
    #le_message {
        font-size: 1.15rem;
        margin-left: -310px;
       
    }
    input, textarea, button {
        display: block;
        border: none;
        width: 55%;
        padding: 15px 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 5px;
        font-size: 1.2rem;
        font-family: 'Advent Pro', sans-serif;
        border-radius: 8px;
    }
    textarea {
        height: 120px;
    }
    button {
        font-size: 1.5rem;
        background-color: #FFFAE1;
        margin-top: 10px;
    }
    button:hover {
        background-color: #45B39D;
        columns: #fffae1;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    } */

/*******FIN DE FORMULARIO ORIGINAL ***************/

#trucazo {
  opacity: 0;
}

#deuxiemeTrait {
  height: 1px;
  width: 75%;
  background-color: #fffae1;
  margin: 60px auto;
}
#copyrightEtIcons {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 2px;
}
#copyright {
  width: 50%;
  text-align: left;
  margin-left: 10px;
  color: #fffae1;
}
#adresse {
  display: flex;
  width: 100%;
  color: blue;
  margin: 0;
}
#adresse img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
#adresse a:hover img {
  transform: scale(1.5);
  transform: 90deg;
  transition: 0.1s;
}

#adresse a p {
  color: blue;
  text-align: center;
  font-size: 1.05rem;
  margin-top: 0;
  transform: #f94949;
}
#adresse a:hover p {
  color: red;
  font-family: "Dancing Script", cursive;
  font-size: 1.3rem;
}

#icons {
  width: 50%;
  text-align: right;
  padding-right: 20px;
}
#icons a {
  display: inline-block;
  padding: 0 15px;
  font-size: 1.3rem;
  color: #fffae1;
}
#icons a:hover {
  transform: scale(2.3);
  transition: 0.1s;
}
#icons #twitter {
  width: 5px;
  color: #00acee;
}
#icons #facebook {
  width: 5px;
  color: #326ff3;
}
#icons #instagram {
  width: 5px;
  color: #f98475;
}
#icons #whatsapp {
  width: 5px;
  color: #aff22a;
}
